.main-section{
    width: 100%;
    height: calc(100vh - 72px);
    display:flex;
}

.MainDisplay-details-content {
    width : 70%;
    padding : 2rem;
}

.details-mobile-sidepanel-content {
    display: none;
}

@media(max-width : 700px){
    .MainDisplay-details-content {
        display: none;
    }
    .details-mobile-sidepanel-content{
        display: block;
    }
}